table{
  border: 1px solid #b3ffb3;
  width:60%;
  height:100;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: #009900;
  background-image: url(img/biodata.png);
  background-repeat: no-repeat;
  background-position: center right;
  color: white;
  font-family: sans-serif;

}
td{
  text-align: left;
  padding: 10px;
}
th.head2{
  padding-top: 15px;
  border: 2px solid #00ff00;
  vertical-align: center;
}
th.head{
  font-size: 20px;
  text-shadow: 8px #99ff99;
}
